In [1]:
import json

In [2]:
with open("./teachers.json","r") as fh:
    data:list = json.loads(fh.read())

In [ ]:
for d in data:
    d.pop("geometry")
    d.pop("phone")

In [ ]:
with open("./teachers.json","w") as fh:
    json.dump(data,fh,indent=4)

## NEW

In [4]:
import json

with open("./places.json","r") as fh:
    data:list[dict] = json.loads(fh.read())

In [5]:
for i,place in enumerate(data):
    place["lat"] = place["geometry"]["location"]["lat"]
    place["lng"] = place["geometry"]["location"]["lng"]
    place.pop("geometry")

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame(data)
df.sample(5)

,name,phone,note,inout,cat,imgUrl,lat,lng,rating
25,Metallurgy Lab,0.0,,in,lab,https://firebasestorage.googleapis.com/v0/b/ac...,13.182562,74.934814,NaN
3,Harshitha,0.0,,out,food,,13.183514,74.936490,NaN
63,Rohan's canteen & shop,0.0,,out,shop,https://firebasestorage.googleapis.com/v0/b/ac...,13.181731,74.934200,NaN
83,Auto stand,0.0,,out,stop,,13.184268,74.935180,NaN
15,S RAMANUJAN/RAM,0.0,MECH/EC,NA,block,https://firebasestorage.googleapis.com/v0/b/ac...,13.183011,74.933943,NaN

In [8]:
df.drop("rating",axis = 1,inplace=True)

In [9]:
df[df.isna().any(axis=1)]

,name,phone,note,inout,cat,imgUrl,lat,lng
14,SIR M VISVESVARAYA/VIS,NaN,CIVIL/EE,in,block,https://firebasestorage.googleapis.com/v0/b/ac...,13.182469,74.933588

In [10]:
df.phone.fillna(0,inplace=True)
df.loc[14,"inout"]="in"

In [11]:
df=df.replace({'NA':np.NaN})

In [12]:
df.isna().sum()

name      0
phone     0
note      0
inout     8
cat       0
imgUrl    0
lat       0
lng       0
dtype: int64

In [13]:
df[df.isna().any(axis=1)]

,name,phone,note,inout,cat,imgUrl,lat,lng
15,S RAMANUJAN/RAM,0.000000e+00,MECH/EC,NaN,block,https://firebasestorage.googleapis.com/v0/b/ac...,13.183011,74.933943
19,Sowparnika,0.000000e+00,,NaN,hall,https://firebasestorage.googleapis.com/v0/b/ac...,13.183000,74.934142
23,Central library,0.000000e+00,"1st floor, RAM",NaN,library,https://firebasestorage.googleapis.com/v0/b/ac...,13.183000,74.934142
61,Shabari store,0.000000e+00,,NaN,shop,,13.183196,74.936576
69,Malasa Footware,9.740537e+09,,NaN,shop,https://firebasestorage.googleapis.com/v0/b/ac...,13.184943,74.936107
74,Kamath Store,9.686967e+09,,NaN,shop,https://firebasestorage.googleapis.com/v0/b/ac...,13.185852,74.939169
80,Kateeleshwari fruits,8.722950e+09,,NaN,shop,https://firebasestorage.googleapis.com/v0/b/ac...,13.185410,74.937967
84,Iyengar bakery,0.000000e+00,,NaN,shop,https://firebasestorage.googleapis.com/v0/b/ac...,13.184544,74.936238

In [14]:
df['phone'] = df['phone'].astype(int)

In [15]:
import pathlib
base_path = pathlib.Path(".")
(base_path/"output").mkdir(exist_ok=True)
(base_path/"output"/"images").mkdir(exist_ok=True)

In [24]:
jDiesel :list= json.loads(df.to_json(orient = "records",indent=4))

In [25]:
download_path = base_path/"output"/"images"
for path in download_path.glob("*"):
    path.unlink()

import requests
for i,value in enumerate(jDiesel):
    if(value["imgUrl"]):
        name = f"{value['name'].split('/')[-1].strip()}.jpg"
        with open(download_path/name,"wb") as fh:
            fh.write(requests.get(value["imgUrl"]).content)
            jDiesel[i]["imgUrl"] = name

In [ ]:
with open("./output/places.json","w") as fh:
    json.dump(jDiesel,fh)