In [1]:
import json

with open("./places_raw.json","r") as fh:
    data:list[dict] = json.loads(fh.read())

In [2]:
for i,place in enumerate(data):
    place["lat"] = place["geometry"]["location"]["lat"]
    place["lng"] = place["geometry"]["location"]["lng"]
    place.pop("geometry")

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(data)
df.sample(5)

,name,phone,note,inout,cat,imgUrl,lat,lng,rating
69,Malasa Footware,9.740537e+09,,NA,shop,https://firebasestorage.googleapis.com/v0/b/ac...,13.184943,74.936107,NaN
86,Nitte Laxmi Fuels,0.000000e+00,,NA,vehicle,,13.185342,74.939403,NaN
41,MCA Computer Lab-1,0.000000e+00,,in,lab,https://firebasestorage.googleapis.com/v0/b/ac...,13.183323,74.933607,NaN
76,Radha Krishna hotel,9.845978e+09,,out,food,https://res.cloudinary.com/do1jebbgp/image/upl...,13.185444,74.938474,NaN
33,Microprocessor/HDL Lab,0.000000e+00,3,in,lab,https://firebasestorage.googleapis.com/v0/b/ac...,13.183099,74.934251,NaN

In [5]:
df.drop("rating",axis = 1,inplace=True)

In [6]:
df[df.isna().any(axis=1)]

,name,phone,note,inout,cat,imgUrl,lat,lng
14,SIR M VISVESVARAYA/VIS,NaN,CIVIL/EE,NA,block,https://firebasestorage.googleapis.com/v0/b/ac...,13.182469,74.933588

In [7]:
df.phone.fillna(0,inplace=True)
df.loc[14,"inout"]="in"

In [8]:
df=df.replace({'NA':np.NaN})

In [9]:
df.isna().sum()

name       0
phone      0
note       0
inout     38
cat        0
imgUrl     0
lat        0
lng        0
dtype: int64

In [13]:
df[df.isna().any(axis=1)]

,name,phone,note,inout,cat,imgUrl,lat,lng
15,S RAMANUJAN/RAM,0.000000e+00,MECH/EC,NaN,block,https://firebasestorage.googleapis.com/v0/b/ac...,13.183011,74.933943
19,Sowparnika,0.000000e+00,,NaN,hall,https://firebasestorage.googleapis.com/v0/b/ac...,13.183000,74.934142
23,Central library,0.000000e+00,"1st floor, RAM",NaN,library,https://firebasestorage.googleapis.com/v0/b/ac...,13.183000,74.934142
61,Shabari store,0.000000e+00,,NaN,shop,,13.183196,74.936576
69,Malasa Footware,9.740537e+09,,NaN,shop,https://firebasestorage.googleapis.com/v0/b/ac...,13.184943,74.936107
74,Kamath Store,9.686967e+09,,NaN,shop,https://firebasestorage.googleapis.com/v0/b/ac...,13.185852,74.939169
80,Kateeleshwari fruits,8.722950e+09,,NaN,shop,https://firebasestorage.googleapis.com/v0/b/ac...,13.185410,74.937967
84,Iyengar bakery,0.000000e+00,,NaN,shop,https://firebasestorage.googleapis.com/v0/b/ac...,13.184544,74.936238

In [14]:
df['phone'] = df['phone'].astype(int)

In [15]:
import pathlib
base_path = pathlib.Path(".")
(base_path/"output").mkdir(exist_ok=True)
(base_path/"output"/"images").mkdir(exist_ok=True)

In [24]:
jDiesel :list= json.loads(df.to_json(orient = "records",indent=4))

In [25]:
download_path = base_path/"output"/"images"
for path in download_path.glob("*"):
    path.unlink()

import requests
for i,value in enumerate(jDiesel):
    if(value["imgUrl"]):
        name = f"{value['name'].split('/')[-1].strip()}.jpg"
        with open(download_path/name,"wb") as fh:
            fh.write(requests.get(value["imgUrl"]).content)
            jDiesel[i]["imgUrl"] = name

In [ ]:
with open("./output/places.json","w") as fh:
    json.dump(jDiesel,fh)

In [10]:
import json

In [11]:
with open("places.json","r") as fh:
    data = json.loads(fh.read())

In [12]:
no_photo_places = []
for place in data:
    if(not place["imgUrl"]):
       no_photo_places.append(place["name"])
       print(place["name"])

Hotel Shetty's
Sanmathi Cafe
Shabari
Harshitha
CV Raman/CVR
Xerox 1
Xerox 2
Ground Zero cyber
Sanmathi garden
Clinic
BC Alva Memorial Indoor Stadium
NET Gents Main Hostel- Block 3
NET PG Girls Hostel
Shabari store
Hotel Sri Durga Prasad
Pavi Digital Studio
Bus stop
Auto stand
Nitte Laxmi Fuels
Om Sai Ram Auto Works
Nitte Co-op store
Nitte Co-op store

In [26]:
with open("places_null_cleared.json","r") as fh:
    data = json.loads(fh.read())

In [27]:
for place in data:
    place.pop("imgUrl")
    place["image"] = place["name"].split("/")[-1].strip()

In [29]:
with open("places.json","w") as fh:
    json.dump(data,fh,indent=4)